body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
  background: #fff;
  font-family: monospace;
}

.main-container {
  display: flex;
  justify-content: space-between;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 3px solid black; /* Bolded black border */
  min-width: 22.5rem;
  min-height: 22.5rem;
  margin-top: 1rem;
  margin-right: 10rem;
}

.ninedrant {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: .1rem solid grey; /* Bolded light grey border */
}

.tile {
  border: 0.1rem solid lightgray;
  width: 9vh;
  height: 9vh;
  min-width: 2.5rem;
  min-height: 2.5rem;
  background-color: white;
  text-align: center;
  font-weight: bold;
  font-size: calc(15px + 2vh);
  display: grid;
  justify-content: center;
  align-items: center;
}

.tile:focus {
  outline: none;
}

.candidates {
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 9vh;
  height: 9vh;
  font-size: calc(1px + 1vh);
  font-weight: 500;
  margin-top: 1vh;
}

.candidate {
  justify-self: center;
  align-self: center;
}

.hidden {
  opacity: 0;
}

.hidden:hover {
  transition: opacity 0.25s;
  opacity: 1;
}


.tile-start {
  background-color: #efefef;
}

.tile-selected {
  background-color: #ffd636;
}

.tile-start-and-selected {
  background-color: #ebd270;
}

.numpad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: calc(5rem * 4);
  width: calc(5rem * 3);
  grid-gap: 1rem;
  margin-top: 5rem;
}

.number, .remover {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem; /* adjust as necessary */
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  background-color: #efefef;
  border: 1px solid darkslategrey;
}

.remover {
  grid-column: span 3; /* Makes the remover span all 3 columns */
}

.ripple {
  position: absolute;
  width: 200%; /* Adjust as necessary */
  height: 200%; /* Adjust as necessary */
  top: -50%;
  left: -50%;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 100%; /* This gives the ripple a circle shape */
  transform: scale(0);
  animation: ripple 0.5s ease-out;
}

@keyframes ripple {
  to {
    transform: scale(1);
    opacity: 0;
  }
}


/* The popup container */
.win-popup {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  display: none; /* Hidden by default */
}

/* Popup Content */
.win-popup-content {
  position: relative;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  background-color: #fefefe;
  text-align: center;
}

/* Close button */
#closePopupBtn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#closePopupBtn:hover,
#closePopupBtn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

